@import "styles/defaults/colors";
@import "styles/components/header";
@import "styles/components/footer";
@import "styles/components/utils";

.hero {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
}

.info {
    font-size: 20px;
    width: 60vw;
    margin: 8px;
}

.about-btn {
    width: 23vh;
    height: 7vh;
    background-color: #2B2E4A;
    border: none;
    border-radius: 5px;
    margin-top: 16px;

    .about-btn-text {
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
    }
}

@media (min-width:700px) {
    .hero {
        font-size: 64px;
    }

    .info {
        font-size: 28px;
        width: 60vh;
    }

    .about-btn {
        width: 225px;
        height: 64px;
        margin-top: 28px;
        .about-btn-text {
            font-size: 18px;
        }
    }
}