@import "../defaults/colors";
@import "../components/header";
@import "../components/footer";
@import "../components/utils";

img {
    width: 45vw;
    height: 15vh;
    margin: 16px 0 8px;
}

a {
    text-decoration: none;
    color: #2B2E4A;
}

.container {
    margin: 16px;
}

.blog-post {
    width: 55vw;
    height: 30vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title {
    font-size: 18px;
    text-decoration: underline;
}

.blog-description {
    width: 45vw;
}

@media (min-width:700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 25vw;
        height: 12vh;
        margin: 8px 0;
    }

    .blog-post {
        width: 30vw;
        height: 26vh;
    }

    .blog-description {
        width: 25vw;
    }
}

@media (min-width:1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container {
        margin: 8px;
    }
    img {
        width: 20vw;
        height: 15vh;
    }

    .blog-post {
        width: 25vw;
        height: 30vh;
    }

    .blog-description {
        width: 20vw;
    }
}