// styling for footer to be imported to page styling
// default margin and padding to be removed
* {
    margin: 0;
    padding: 0;
}

// footer dimensions set
// flexbox used to have social icons beside each other but stacked on email
// box shadow has been used to add a border to the footer
// box shadow dimensions are recessed and a large blur used to provide a subtle shadow effect
footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
    background-color: #fff;
    width: 100vw;

}

// email styling
// text decoration set to none and colour set as is a link to another page
.email {
    text-decoration: none;
    font-size: 18px;
    color: #2B2E4A;
}

// styling for social media icons
.icons {
    display: flex;
    gap: 16px;
    font-size: 20px;
    color: #2B2E4A;
    text-decoration: none;
    margin-bottom: 6px;
}

// setting the color for the social media icons as is a link
.fa {
    color: #2B2E4A;
}

// styling for desktop widths only as tablet and mobile styling are the same
@media (min-width:1000px) {
    footer {
        height: 5rem;
    }

    .email {
        font-size: 24px;
    }

    .icons {
        font-size: 24px;
    }
}
