* {
    margin: 0;
    padding: 0;
}

header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    box-shadow: 0px -8px 20px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    text-decoration: none;
    color: #2B2E4A;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: #2B2E4A;
}

.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 4.7rem;
    width: 100%;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    background-color: #2B2E4A;
}

.nav-item{
    margin: 24px 0;
}

.nav-menu.active {
    left: 0;
}

.nav-link {
    color: white;
    font-size: 18px;
}

@media (min-width:1000px) {
    .hamburger {
        display: none;
    }

    .nav-link {
        color: #2B2E4A;
        font-size: 24px;
    }

    .logo {
        font-size: 48px;
        margin-left: 20px;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: relative;
        background: transparent;
        top: 0px;
        right: 0px;
        gap: 32px;
        transition: none;
    }

    .nav-bar {
        position: relative;
        left: 225px;
    }

    header {
        height: 7rem;
    }
}